@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
body{
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    border: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    color: #1c1c1a;
    text-align: center;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 50px;
}
h2{
    font-size: 40px;
    color: #1c1c1a;
    text-align: center;
    font-weight: 300;
}
p{
    font-size: 22px;
    color: #595959;
    font-weight: 300;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

    padding: 0px;

}
.fix{
    overflow: hidden;
}
.head-bg{
    background: #ffffff;
}
.float-left{
    float: left;
}

.header-area{
    background: #666666;

}
nav{}
nav ul{
    padding: 0;
    width:97%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 0px;
    width: 32.33%;
 
}
nav ul li:last-child{
    margin-right: 0%;
}
nav ul li a{
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
    color: #ffffff;
}
nav ul li a:hover{
    color: #ffffff;
    text-decoration: none;
}
.slicknav_menu {
    display:none;
}
.portfolio-area{
    border-bottom: 1px solid #dedede;
}
.portfolio-1 > h2 {
    margin-bottom: 50px;
    margin-left: -10% !important;
    margin-right: 0;
    margin-top: 50px;
}
.portfolio-2 > h2 {
    margin-bottom: 50px;
    margin-left: -10% !important;
    margin-right: 0;
    margin-top: 50px;
}
.margin-top{
    margin-top: 100px;
    margin-bottom: 100px;
}
.portfolio-3 > h2 {
	margin-left: -10% !important;
    margin-bottom: 40px;
    margin-top: 50px;
}
.portfolio-4 > h2 {
	margin-left: -10% !important;
    margin-bottom: 40px;
    margin-top: 50px;
}
.option-area{
    margin-top: 50px;
    margin-bottom: 150px;
}

.option1-area{
    background: #f6f6f6;
}
.option1-area p{
    margin-bottom: 40px;
}
.work-area{
    background: #f2f2f2;
}
.work-area p{
    margin-bottom: 40px;
}
.gallery-area{
    border-bottom: 1px solid #dedede;
}
.margin-bttom{
    margin-bottom: 100px;
}
.gallery-area h1{
    text-transform: capitalize;
}
.testimonials-area h1{
    text-transform: capitalize;
}
.testimonials-area p{
    margin-bottom: 40px;
}
.footer-area{
    background: #f2f2f2;
}
.border-right{
    border-right: 2px solid #ffffff;

}
.join-us {
    margin-top: 50px;
}
.join-us h2{
    text-align: center; 
}
.join-us p{
    margin-bottom: 250px;
    margin-top: 30px;
}
.contact-us{
    margin-top: 50px;
}
.contact-us h2{
    
}
.contact-us p{
    margin-left: 11%;
    margin-top: 30px;
}
/* Responsive Layout */

/*      Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 939px) {
    
    
     {
        width: 712px;
        margin: 0 auto
        
    }
}

/*      Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
     {
        width: 252px;
        margin: 0 auto;
    }
       .top-menu {
  display: none;
}
    .slicknav_menu {
    display:block;
}
.portfolio-1 > h2 {
  margin-left: 0% !important;

}
.portfolio-2 > h2 {

    margin-left: 0% !important;

}
.margin-top {
  margin-bottom: 0px;
  margin-top: 0px;
}
.option-area {
  margin-bottom: 0px;
}
.gallery1{
    text-align: center;
}
.gallery2 {
  text-align: center;
}
.join-us {
  margin-top: 0px;
  text-align: center;
}
.join-us h2 {
  margin-left: 0%;
  text-align: center;
}
.join-us p {
  margin-top: 0px;
  margin-bottom: 50px;
}
.contact-us {
  margin-top: 0px;
}
.contact-us p {
  margin-left: 0%;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

}


/*      Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
     {
        width: 436px;
        margin: 0 auto;
        
    }
      .top-menu {
  display: none;
}
    .slicknav_menu {
    display:block;
}

}

.gallery1 a img
{
    box-shadow:2px 2px 5px 5px #e6e6e6;
    margin-bottom: 20px;
}